.carosel__img {
    /* width: 93vw; */
    height: 450px;
}

.img_container {
    width: 93vw;
    height: 450px;
    background-image: url('https://cdn.ikointl.com/sites/default/files/4_1_0_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_container1 {
    width: 93vw;
    height: 450px;
    background-image: url('https://www.haveatravel.com/wp-content/uploads/2019/12/a8374ed83bdb55612927348d5cf6a4581.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_container2 {
    width: 93vw;
    height: 450px;
    background-image: url('https://i2.wp.com/www.smartertravel.com/uploads/2019/02/woman-traveling-norway-sightseeing.jpg?resize=1400%2C500&ssl=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_container3 {
    width: 93vw;
    height: 450px;
    background-image: url('https://www.go-today.com/stw/images/hero-images/country-hero-images/Italy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: whitesmoke;
    position: relative;
    top: -300px;
    width: 75%;
    margin-left: 11%;
    opacity: 0.9;
    border-radius: 70px;
}
.searchEveryTicket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color:white ;
    /* position: absolute; */
    width: 50%;
    border-radius: 80px;
    margin-bottom: 30px;
}

.suggested{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* width: 20%; */
    
}

.suggested__img{
    width: 25vw;
    height: 220px;
    margin-left: 60px;
    border-radius: 40px;
}

.suggested__title{
    margin-left: 40px;
}



