.Header{
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245, .90);
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.Header__logo{
    width: 12rem;
    object-fit: contain;
}

.login{
    display: flex;
    flex-direction: column;
}

.Dialog__image{
    width: 60%;
    object-fit: contain;
    border-radius:505px;
    /* box-shadow: 0px 0px 5px 5px white inset; */
}

.login_button{
    text-transform: none !important;
}

.dialog_button{
    margin-top: 1rem !important;
}

.Dialog{
    display: flex;
    justify-content: center;
}

.AddDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__avatar{
    margin-right: 20px;
}