.Header{
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
}

.Header__logo{
    width: 6rem;
    object-fit: contain;
}

.login{
    display: flex;
    flex-direction: column;
}

.Dialog__image{
    width: 60%;
    object-fit: contain;
}

.login_button{
    text-transform: none !important;
}

.dialog_button{
    margin-top: 1rem !important;
}

.Dialog{
    display: flex;
    justify-content: center;
}

.header__profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__avatar{
    margin-right: 20px;
}