.user {
    display: flex;
}

.user__details {
    flex: .3;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.user__flights {
    margin-top: 1rem;
    flex: .7;
    display: flex;
    flex-direction: column;
}

.user__card {
    margin-top: 2.5rem;
    width: 220px;
    min-height: 300px;
    background-color: rgba(78, 162, 201, 0.548);
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 20px 50px 20px 50px;
}

.user__avatar {
    width: 66%;
    object-fit: contain;
    margin-top: 25px;
}

.line {
    width: 70%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.user__stripe {
    width: 30px !important;
    margin-bottom: 30px;
}

.user__tab {
    align-self: flex-start
}

@media only screen and (max-width: 768px) {
    .user {
        display: flex;
        flex-direction: column;
    }
    .user__flights {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user__tab {
        align-self: center
    }
}